*{
     margin: 0;
     padding: 0;
     box-sizing: border-box;
     font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
html,body{
     width: 100%;
     height: 100%;
}
.main{
     width: 100%;
     height: 100%;
     background-color: #000;
     display: flex;
}
#left{
     width: 80%;
     height: 100%;
     background-color: #fa9292;
}
#Ltop{
     width: 100%;
     height: 75%;
     background-image: url("https://images.unsplash.com/photo-1501004318641-b39e6451bec6?q=80&w=773&auto=format&fit=crop&ixlib=rb-4.1.0&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D");
     background-position: center;
     background-repeat: no-repeat;
     background-size: cover;
     position: relative;
     padding: 30px;
}
#Ltop h1{
     letter-spacing: 2px;
}

#Ltop #lefticons{
     width: 60px;
     height: 100px;
     background-color: #fcfcfc;
     position: absolute;
     bottom: 0;
     right: 0;
}
#lefticon{
}
#Ltop #lefticons i{
     font-size: 25px;
     font-weight: 600;
     position: absolute;
     top: 50%;
     left: 50%;
     transform: translate(-50%, -50%);
}
#Lbottom{
     width: 100%;
     height: 25%;
     background-color: #2c2c2c;
     padding: 10px 100px;
}
#LBcontent{
     width: 100%;
     display: flex;
     justify-content: space-between;
}
#leftcontent{
     width: 45%;
     height: 100%;
     color: aliceblue;
}
#leftcontent p{
     margin-top: 5px;
     font-size: 13px;
     font-weight: 100;
     opacity: .5;
     width: 80%;
}
#leftcontent{
     width: 45%;
     height: 100%;
     color: aliceblue;
}
.row{
     display: flex;
     justify-content: space-between;
     margin-top: 10px;
     padding-right: 25px;
}
.Relement{
     display: flex;
     margin-bottom: 15px;
}
.Rtext{
     margin-left: 10px;
}
.Rtext h6{
     opacity: .5;
     font-weight: 500;
}
#right{
     width: 20%;
     height: 100%;
     background-color: #fff;
}
#Rtop{
     width: 100%;
     height: 75%;
     display: flex;
     flex-direction: column;
     background-color: #fed9d9;
     padding: 60px;
     position: relative;
}
#Rtop a{
     margin-bottom: 15px;
     text-decoration: none;
     font-family: "Montserrat", sans-serif;
     font-weight: 700;
     font-size: 16px;
     color: #000;
     letter-spacing: 2px;
} 

#icons{
     display: flex;
     flex-direction: column;
     gap: 15px;
     position: absolute;
     top: 0;
     right: 0;
     padding: 30px;
     
}
#icons i{
     font-size: 20px;
     font-weight: 600;
     cursor: pointer;

}

#flower{
     width: 100px;
     height: 100px;
     background-image: url("https://images.unsplash.com/photo-1568161300532-8d90fa3e56f7?q=80&w=387&auto=format&fit=crop&ixlib=rb-4.1.0&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D");
     background-position: center;
     background-size: cover;
     background-repeat: no-repeat;
     bottom: 0;
     left: 0;
     position: absolute;
}

#flower i{
     color: #fff;
     font-size: 25px;
     font-weight: 900;
     position: absolute;
     top: 50%;
     left: 50%;
     transform: translate(-50%, -50%);
     background-color: #000000b7;
     border-radius: 50%;
     padding: 4px;

}
#Rtop #Select{
     margin-left: 30px;
     position: relative;
}

#Rtop #Select::before{
     content: "";
     width: 20px;
     height: 3px;
     position: absolute;
     background-color: #000;
     margin-left: -30px;
     top: 50%;
     transform: translate(0, -50%);
}

#Rbottom{
     width: 100%;
     height: 25%;
     background-image: url("https://plus.unsplash.com/premium_photo-1672680441319-0308296ee912?q=80&w=872&auto=format&fit=crop&ixlib=rb-4.1.0&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D");
     background-position: center;
     background-size: cover;
     background-repeat: no-repeat;
     position: relative;
}
#Rbottom #text{
     background-color: #fff;
     width: 90%;
     height: auto;
     padding: 15px 20px;
     position: absolute;
     bottom: 5%;
     left: 50%;
     transform: translate(-50%, 0);
     border-radius: 6px;
}
#text i{ 
     font-weight: 600;
     font-size: 19px;
}
#text h5{
     font-size: 17px;
     width: 100%;
}
#text p{
     opacity: .7;
}